<div>

  <!-- Linear Progress with animation -->
  <ng-progress-square [value]="5" color="green" [animate]="true">
  </ng-progress-square>

  <ng-progress-square
    [value]="10"
    color="#007BFF"
    colorBackground="#B3D4FF"
    [animate]="true"
  ></ng-progress-square>

  <ng-progress-square
    [value]="30"
    color="#007BFF"
    colorBackground="#B3D4FF"
    [animate]="true"
  ></ng-progress-square>


  <!-- Linear Progress without animation -->


  <ng-progress-square
    [value]="40"
    color="#6F42C1"
    colorBackground="#E9DFF7"
    [animate]="true"
  ></ng-progress-square>
  <ng-progress-square
    [value]="50"
    color="#6F42C1"
    colorBackground="#E9DFF7"
  ></ng-progress-square>

  <ng-progress-square
    [value]="60"
    color="#00008B"
    colorBackground="#ADD8E6"
  ></ng-progress-square>
  <ng-progress-square
    [value]="70"
    color="#006400"
    colorBackground="#ADFF2F"
  ></ng-progress-square>

  <ng-progress-square
    [value]="80"
    color="#8B0000"
    colorBackground="#FFA07A"
  ></ng-progress-square>
</div>
